<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
           <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
           <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Inventory</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/">PRICE
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'price_filter_a' %}">Decreasing</a></li>
          <li><a href="{% url 'price_filter_d' %}">Increasing</a></li>
        </ul>
      </li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/">TYPE
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'tv_filter' %}">TV</a></li>
          <li><a href="{% url 'ac_filter' %}">AC</a></li>
        </ul>
      </li>
       <li><a class="pull-right" href="{% url 'post_new' %}">ADD NEW</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<table class="table table-hover">
    <tr>
    <th>Product ID</th>
        <th>Product image</th>
    <th>Product name</th>
        <th>Product type</th>
        <th>Product price</th>

        <th>Product qty</th>

  </tr>
    {% for post in posts %}
  <tr>
    <td>{{ post.product_id }}</td>
      <td><img src="{{ post.product_image.url}}" style="width:auto; height:40px;"></td>
    <td>{{ post.product_name }}</td>
    <td>{{ post.product_type }}</td>
      <td>{{ post.product_price }}</td>
       <td>{{ post.product_quanty }}</td>
  </tr>
   {% endfor %}

</table>

</div>


</body>
</html>